@model HelloDoc2.DataModels.Emaillog

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Emaillog</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Emailtemplate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emailtemplate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subjectname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subjectname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Emailid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emailid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Confirmationnumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Confirmationnumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Filepath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Filepath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Roleid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Roleid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Requestid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Requestid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adminid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adminid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Physicianid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Physicianid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Createdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Createdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sentdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sentdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Isemailsent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Isemailsent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Senttries)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Senttries)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Action)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Action)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Emaillogid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
