@model IEnumerable<HelloDoc2.DataModels.Emaillog>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Emailtemplate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subjectname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emailid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Confirmationnumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Filepath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roleid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requestid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adminid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Physicianid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Createdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sentdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Isemailsent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Senttries)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Action)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Emailtemplate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subjectname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Emailid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Confirmationnumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Filepath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Roleid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Requestid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adminid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Physicianid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Createdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sentdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Isemailsent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Senttries)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Action)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Emaillogid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Emaillogid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Emaillogid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
